body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


.video-container {
    position: relative;
    margin-bottom: 50px;
}

.gap-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent; 
    pointer-events: none; 
}

.topic {
    
    cursor: pointer;
    padding: 10px 80px 25px 80px;
    color: white;
    border: 1px solid white;
    background-color: black;
    position: relative;
    border-radius: 10px;
    box-shadow: inset;
    z-index: 1; 
}

.topic:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}



.dot-marker {
    position: absolute;
    bottom: 0;
    transform: translateX(0%);
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px;    
    background-color: #2b333f; 
    padding: 2px;
    margin-bottom: 13px;
    border-radius: 4px;
}

.tooltip {
    position: absolute;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7); /* Change the background color as needed */
    color: white; /* Change the text color as needed */
    border-radius: 4px;
    display: none;
    z-index: 1000;
}
